body{
    background-color: #F4F4F4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

.nav-bar{
    position: sticky;
    top: 0;
    display: flex;
    background-color: #ffffff;
    z-index: 1000;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-list{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 3rem;
}

.nav-link{
    position: relative;
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    transition: .3s;
}

.nav-link:hover{
    color: green;
}

/* HALAMAN 01 */
#biodata{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    text-align: center;
    align-items: center;
}

.judul-page{
    text-align: center;
}

h1.judul-page{
    margin-bottom: 1rem;
}

p.judul-page{
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: x-large;
}

.buat-foto{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.profile img{
    position: relative;
    height: 250px;
    border-radius: 50%;
    transition: .5s;
    border: 2px solid #CCC;
}

.profile img:hover{
    height: 320px;
}

.profile{
    text-align: center;
}

.nama{
    margin-top: 2rem;
    color: #000000;
    font-size: large;
}

/* HALAMAN 02 */
#materi{
    padding: 7.1rem;
}

.konten-materi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
    padding-left: 3rem;
}

.ini-materi{
    flex: 1;
    font-size: larger;
}

.ilustrasi{
    flex: 1;
    text-align: center;
}

.ilustrasi img{
    width: 400px;
    height: auto;
}

/* HALAMAN 03 */
#kalkulator{
    padding: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.kalkulatornya{
    padding-top: 2rem;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    color: #444;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s;
}

button:hover {
    background-color: green;
}

#result {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    color: #2c3e50;
}